@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444; done.
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{ Background-color: #222; 
    font-size: 3vh; /*default font-size = 1.0rem*/ font-family: Calibri;
}
h1{font-family: verdana; font-shadow: bottom right #000, top left gold; boarder-color: #666; font-size:3rem; float:img "http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg";
}
}
h3{ font-color: #d4d4d4; font-size:2rem;
   
}
p{text-decoration-color:#d4d4d4;

}
nav a, nav a:link, nav a:visited{ color: gold;

}
nav a:hover, nav a:active{ color: #fff; 
}
nav ul{

}
nav li{

}
#mainnav{color: gold;

}
#wrapper{ content background-color:#444;

}
#masthead{background-image:"http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg";  color:#d4d4d4;

}
#main{ boarder-color: #666; color: #d4d4d4;

}
#footer{background: #333; color: #999;

}
#footer p{color: #999;

}
#footer a{color: gold;

}