@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444; done.
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{ Background-color: #222; 
    /*font-size: 3vh;*/ /*default*/  line-height:1.75;
  font-family: sans-serif;
}
h1{ font-size: 6rem; padding: 5rem 1rem; font-family: 'Calibri'; 

}
h3{margin: 3rem; color:#fff; font-size: 3rem; 
   
}
p{color:#d4d4d4; margin:2rem; background-color: #444; font-size: 2rem;
    
}
nav a, nav a:link, nav a:visited{ color: gold; text-decoration: none; font-size: 2rem; background: #222; line-height: 1.5; display: block;
}
nav a:hover, nav a:active{background: #fff;
}
nav ul{list-style: none;

}
nav li{float:left;
  width: 20%;

}
#mainnav{color: gold;

}
#wrapper{  width: auto;
  margin:0, auto;
  background-color: #444;
  color: #d4d4d4;
   

}
#masthead{ color:#fff; 
    text-shadow: 2px 2px 2px #000, -2px -2px 2px gold; background:url(" http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg"); 
    height:300px; 
    width:928px; 
    
    
    

}
#main{ boarder-color: #666; 

}
#footer{background: #333; 

}
#footer p{color: #999; font-size:1rem; padding: 1rem 1.5rem;

}
#footer a{color: gold;

}