@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444; done.
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{ Background-color: #222; 
        width:auto;
    /*font-size: 3vh;*/ /*default*/  
    line-height:1.75;
    font-family: sans-serif; 
    float:left; 
    padding-left:2%;
    padding-right: 2%;
}
h1{ font-size: 6rem; 
    padding: 3.5rem 1rem;
    padding-left: 6rem;
    font-family: 'Calibri'; 

}
h3{margin: 3rem; 
    color:#fff; 
    font-size: 2.5rem; 
    line-height: 4; 
   
}
p{color:#d4d4d4; 
    margin:2rem; 
    background-color: #444; 
    font-size: 1.5rem;
    
}
nav a, nav a:link, nav a:visited{ color: gold; 
    text-decoration: none; 
    font-size: 2rem; 
    line-height: 1.5; 
    display: block; 
    border-bottom-top: solid 15px #999;
}
nav a:hover, nav a:active{background: #fff;
}
nav ul{list-style: none; 
        padding: 3 0;
    
}
nav li{float:left;
    width: 20%;
    border-bottom: 15px solid #666; 
    border-top: 15px solid #666; 
}
#mainnav{color: gold; background:#666;  

}
#wrapper{  width: auto;
  margin:0, auto;
  background-color: #444;

}
#masthead{ color:#fff; 
    text-shadow: 2px 2px 2px #000, -2px -2px 2px gold; background:url(" http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg"); 
   background-size: 100%;
    
}
#main{ boarder-color: #666;
      dispay:block;

}
#footer{ display:block; 
        width: 100%; 
        padding: 2rem 0;

}
#footer p{color: #999; 
        font-size:1rem; 
        background: #333; width: 100%; 
        height: 10%; 
        margin:0; 
        padding: 3rem 3.5rem;
}
#footer a{color: gold; 

}